@using BradleyHouse.Data.Models.MealPrep
<MudDialog  Style="background-color:#D3D3D3;height:fit-content;overflow-y:hidden" >
    <TitleContent>
        @MealName
    </TitleContent>
    <DialogContent>
        <MudGrid>
            @foreach (var ingredient in Ingredients)
            {

                <MudItem md="6" xs="12" lg="4" Class="d-flex align-content-center mb-3">

                    <MudIcon Class="mr-3" Size="Size.Medium" Icon="@Icons.Material.Filled.EmojiFoodBeverage" Title="Ingredient"/>
                    <div class="align-self-center">
                    @ingredient.ToString();
                    </div>

                    </MudItem>
            }
        </MudGrid>
    </DialogContent>
</MudDialog>
@code{
    [Parameter]
    public List<Ingredient> Ingredients { get; set; }
    [Parameter]
    public string MealName{ get; set; }
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Cancel() => MudDialog.CancelAll();

}